@import 'variables';

.row {
  .col {
    flex: 1 1 calc(50% - 90px);
    &:first-child {
      flex: 1 1 180px;
    }
  }
  .link {
    font-size: .875rem;
    margin-left: 1rem;
    float: right;
    font-weight: normal;
  }
}
