@import 'variables';

.registry-confirm {
  &__subtitle {
    color: $gray;
    margin-top: 2.5rem;
  }
  .hidden {
    visibility: hidden;
  }
}

.user-control {
  &__guest-item {
    display: flex;
    align-items: center;
    &__email {
      font-size: .75rem;
      color: $gray;
      display: block;
    }
  }
}
