@import 'variables';

.user-photo {
  margin-right: 1.125rem;
  overflow: hidden;
  img {
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid $border-gray;
  }
}

.work-object-actions {
  padding-top: 1.5rem;
}
