@import 'variables';

.work-types-control {
  &__type {
    position: relative;
    .form-group {
      margin-top: 1.5rem;
    }
    .link {
      font-size: .875rem;
      margin-left: 1rem;
      float: right;
      font-weight: normal;
      display: none;
    }
    & + &,
    & + .btn {
      margin-top: 1.5rem;
      .link {
        display: inline;
      }
    }
  }
}
